.News {

	&__content {
		position: relative;
		top: rem(-50px);
		z-index: 10;
		margin: 0 auto;
		width: rem(1452px);
		max-width: 100%;
		border-radius: rem(30px);
		background-color: $gray-600;
		padding: rem(30px);

		@media (max-width: 991px) {
			margin: 0;
			border-radius: 0;
			top: unset;
		}
	}
}


html .Card {
	&__news{
		border-radius: rem(30px);
		background-color: $light;
		border: rem(1px) solid $gray-500;
		padding: rem(20px);
		figure{
			margin: 0;
			padding: 0;
			margin-bottom: rem(20px);
			height: 0;
			width: 100%;
			padding-bottom: 70%;
			border-radius: rem(17px);
			overflow: hidden;
			img{
				display: block;
				width: 100%;
				height: auto;
				min-height: rem(270px);
				object-position: center;
				object-fit: cover;
			}
		}
		.Card__main{
			p{
				padding: 0;
				margin: 0;
				font-size: rem(18px);
				font-weight: bold;
				margin-bottom: rem(20px);
				max-width: rem(320px);
			}
		}
	}
}