.SearchInput{

	&__label{
		font-size: rem(14px);
		font-weight: 600;
		margin: 0;
		padding: 0;
		margin-bottom: rem(6px);
	}
	&__field{

		position: relative;
		width: 100%;
		min-width: 100%;
		max-width: 100%;
		height: rem(50px);
		margin: 0;

		input{
			position: relative;
			z-index: 1;
			width: 100%;
			height: 100%;
			border-radius: rem(8px);
			background-color: $light;
			border: 1px solid $border-color;
			font-size: rem(12px);
			font-weight: 400;
			color: $dark;
			box-shadow: none;
			padding: 0 rem(10px) 0 rem(36px);
			&::placeholder{
				font-size: rem(12px);
				font-weight: 400;
				color: $dark;
			}
		}
		button{
			position: absolute;
			top: rem(10px);
			left: rem(10px);
			display: flex;
			align-items: center;
			justify-content: center;
			text-align: center;
			z-index: 2;
			width: rem(32px);
			height: rem(32px);
			border: 0 none;
			color: $orange;
			border-radius: rem(6px);
			background-color: $border-color;
			svg{
				height: rem(10px);
				width: rem(10px);
				display: block;
				object-position: center;
				object-fit: contain;
				fill: none;
			}
		}
	}

	&--small{
		.SearchInput{
			&__field{
				height: rem(36px);
				input{
					width: rem(230px);
					border-radius: rem(12px);
					box-shadow: 0 rem(7px) rem(10px) rgba(0,0,0,0.03);
					@media (max-width: 991px) {
						width: 100%;
					}
				}
				button{
					top: rem(6px);
					left: rem(6px);
					width: rem(24px);
					height: rem(24px);
				}
			}
		}
	}

}
